* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #9ED0E6;
	color: #F2F4F3;
}

h1 {
	font-size: 3rem;
	vertical-align: middle;
	font-weight: normal;
	padding: 1rem;
}

h2 {
	font-size: 3rem;
	font-weight: 400;
	padding: 1rem;
}

a {
	font-size: 2rem;
}

.fa {
	vertical-align: middle;
	font-size: 7rem;
	padding: 2rem;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#branding {
	font-size: 3rem;
}

#branding div {
	padding: 1rem;
}

.fa-plane {
	background: #F2F4F3;
	color: #2E5266;
	border-radius: 50%;
	padding: 1rem !important;
	font-size: 3rem !important;
}


/* NAVBAR */

#navbar {
	background-color: #2E5266;
	min-height: 45px;
}

#nav-menu {
	display: flex;
	list-style-type: none;
	text-align: center;
}

#navbar ul li {
	flex-basis: calc(100% / 6);
	border: 1px solid #9ED0E6;
}

#navbar a {
	display: block;
	padding: 1rem;
	box-sizing: border-box;
	cursor: pointer;
}

#navbar li:hover {
	background-color: #1A2D38;
}

#hamburger-menu {
	display: none;
}

@media (max-width: 768px) {

	.hide {
		display: none !important;
	}

	#navbar {
		min-height: 45px;
	}

	#nav-menu {
		flex-direction: column;
	}

	#navbar ul li {
		border-left: 0;
		border-right: 0;
	}

	#hamburger-menu {
		height: 45px;
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
	}

	#hamburger-menu .fa-bars {
		font-size: 3rem;
		padding: 0;
	}

	#hamburger-menu p {
		font-size: 2rem;
	}

	#hamburger-menu:hover + #nav-menu {
		display: flex;
	}
}

#showcase {
	height: 400px;
	flex-direction: column;
	text-align: center;
}


#welcome {
	height: 150px;
	text-align: center;
}

.grid {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.grid div {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer h2 {
	text-align: center;
	margin: 2rem;
}

footer .fa {
	font-size: 4rem;
	padding: 0;
	color: #2E5266;
	margin: 0 1rem 1rem;
	cursor: pointer;
}

footer .fa:hover {
	color: #1A2D38;
}


footer ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding-bottom: 2rem;
}

.color1 {
	background-color: #FF7400;
}

.color2 {
	background-color: #00F358;
}

.color3 {
	background-color: #2E5266;
}

.color4 {
	background-color: #F2F4F3;
	color: #000;
}
	
.span-1 {
	grid-column: span 1;
}

.span-2 {
	grid-column: span 2;
}

.span-3 {
	grid-column: span 3;
}

.span-4 {
	grid-column: span 4;
}

.span-8 {
	grid-column: span 8;
}

.span-9 {
	grid-column: span 9;
}

.span-10 {
	grid-column: span 10;
}

.span-11 {
	grid-column: span 11;
}
